.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    position: relative;
  }

.wrapper div {
    aspect-ratio: 1;
}

.one {
    width: 300px;
    height: 300px;
}

img {
    width: 300px;
    height: 300px;
}

/* .overlay {
    display: none;
  }
  
  .img:hover {
    visibility: hidden;
  }
  
  .text {
    position: absolute;
    bottom: 0;
    color: 'white';
    background-color: 'lightgreen';
  }
  
  .hover:hover {
    opacity: 0;
  }
  
  .hover:hover + .text {
    opacity: 1;
  } */